<div class="container-fluid" style="height: 100%;">
    <div class="row align-items-center justify-content-start" style="height: 100%;">
        <div class="col-auto">
            <h2>Doctors</h2>
        </div>
        <div class="col-auto">
            <button
                type="button"
                class="btn btn-primary"
                hx-get="/new_doctor_form"
                hx-target="#data-area"
                hx-swap="innerHTML"
            >
                New
            </button>
        </div>
    </div>
</div>