<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <title>{% block title %}{% endblock %}</title>
    
    <!-- Bootstrap CSS -->
    <link
      href="{{ url_for('static', filename='vendor/bootstrap-5.3.2/bootstrap.min.css') }}"
      rel="stylesheet"
    />
    
    <!-- My CSS -->
    <link href="{{ url_for('static', filename='base.css') }}" rel="stylesheet">
    
    <!-- Alpine JS -->
    <script defer src="{{ url_for('static', filename='vendor/alpinejs/alpinejs.min.js') }}"></script>
  </head>
  <body>

    <!-- Navbar -->
    {% include 'navbar.html' %}

    <!-- Main -->
    <main class="container-fluid">
      
      <!-- Topbar -->
      <div id="topbar-area">
        {% block topbar %}{% endblock %}
      </div>
      
      <!-- Data and Controls -->
      <div id="middle-area">
        <div id="data-area">
          {% block data %}{% endblock %}
        </div>
        <div id="controls-area">
          {% block controls %}{% endblock %}
        </div>
      </div>
    </main>
    
    <!-- Bootstrap JS -->
    <script
      src="{{ url_for('static', filename='vendor/bootstrap-5.3.2/bootstrap.bundle.min.js') }}"
    ></script>

    <!-- HTMX -->
    <script src="{{ url_for('static', filename='vendor/htmx/htmx.min.js') }}"></script>
  </body>
</html>
